/* Varaibles */
$bg-color:#F5F5F5;
$primary-color:#0F1C70;
$secondary-color:#fff;
$hover:purple;
$font:"national-park", sans-serif;

@mixin flex($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($pad:15px 10px 10px 10px){
    border: solid 1px $secondary-color;
    border-radius: 30px;
    text-align: center;
    padding: $pad;
    text-decoration: none;
    color:$secondary-color;
    background-color: $primary-color;

}



@mixin lbl(){
    color: $secondary-color;
    font-size: 18px;
    padding-top: 15px;

}

