@use "partial";

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: partial.$bg-color;

    p{
        font-size: 18px;
        color:partial.$primary-color;
        line-height: 1.2;
        
        
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

}

/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
 
.screen-reader-text {
    position: absolute; //Positions the link absolutely on the page, allowing it to be placed anywhere.
    left: -9999px; //Moves the link far off-screen to the left, making it invisible to sighted users.
    z-index: 999; //Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0; //Sets the link's opacity to 0, making it fully transparent and invisible.
  }
  
  .screen-reader-text:focus {
    left: 50%; // When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.
    transform: translateX(-50%); //This centres the link horizontally by moving it back to the left by 50% of its own width.
    opacity: 1; //The link's opacity is set to 1, making it fully visible.
  }

// ------------navigation---------------
nav{
    @include partial.flex($justify:space-between);

    p{
        color: partial.$primary-color;
        font-size: 25px;
        margin-left: 5px;
        font-weight: 700; 
    }

    ul{
         @include partial.flex();
         gap: 20px;
         list-style-type: none;
    }

    li a{
        text-decoration: none;
        color: partial.$primary-color;
        font-size: 20px;
        font-weight: 700;
    }

    p a{
        text-decoration: none;
        color: partial.$primary-color;
    }

    p a:hover{
        color: partial.$hover;
    }

     li a:hover{
      
        border-bottom: solid 2px partial.$hover;
    }

    

    #bars{
        display: none;
    }

    .styl-hotline{
        @include partial.btn(10px 20px 10px 20px);
        margin-right:7px;
    }

    .fa-phone{
        color: white;
        padding-right: 10px;
    }

}

// ----------------video-----------------

.styl-heroOverskrift{
    position:absolute;
    color:partial.$primary-color;
    background-color: partial.$secondary-color;
    opacity: 70%;
    border: 2px solid partial.$secondary-color;
    border-radius: 30px;
    padding: 20px 0px 20px 10px;
    font-size: 20px;
    top:15em;
    left: 25em;
    
}

.styl-video{
    width: 100%;
    height: 600px;
    object-fit: cover;
    
}

.styl-btn{
    @include partial.btn(20px 60px 20px 60px);
    
}

// -------------- Awareness Træning sektion -------------- 

 .awa-sec{
        
        padding: 2em 15em;

        h1{
            color:partial.$primary-color;
            font-size: 35px;
            text-align: center;
        }
  
    }

    .test-container{
        @include partial.flex();
        gap:10em;
        padding-top: 2em;

        div{
            background-color: partial.$secondary-color;
            box-shadow: 0px 4px 20px 0px rgb(0,0,0,0.1);
            border-radius: 10px;
            padding: 2em 2em;
            text-align: center;
        }

        img{
            width:150px;
            height:150px;
        }


        h3{
            color:partial.$primary-color;
        }

        a{
            @include partial.btn(8px 20px 8px 20px);

        }

    }


    // --------- Bliv klogere på digital svindel sektion------------

    .blivKlogere-sec{
        @include partial.flex($justify:flex-start);
        margin-top: 5em;
        background-color: partial.$primary-color;


        .styl-img{
            background-image: url(../img/Blivklogere.png);
            background-repeat: no repeat;
            background-position: center;
            background-size: cover;
            height: 500px;
            width:100%;
        }

        .text-container{ 
            @include partial.flex($align:flex-start);
            
            flex-direction: column;
            gap:15px;

        }

        h1{
            color: partial.$secondary-color;
            padding: 0px 3em;
            
        }

        p{
           color: partial.$secondary-color; 
           font-size: 20px;
           padding: 0 5em;
        }

        a{
            @include partial.btn(15px 20px 15px 20px);
            margin-left: 6em;

        }

    }

// ----------------- Gode Råd sektion--------------------
    .godeRåd-sec{
        @include partial.flex($justify:center);
        margin-top: 1em;

        img{
            height:400px;
             width:400px;
            
        }
        
        h1{
            color: partial.$primary-color;
        }

        p{
            font-size: 25px;
        }
    }

    // ---------------- kontakt sektion-----------


    .kontakt-sec{
        @include partial.flex($justify:space-evenly);
        background-color: partial.$primary-color;
        margin-top: 1em;
    
        h1{
            color:partial.$secondary-color;
            padding-left: 3em;
        }

        p{
            color:partial.$secondary-color;
            padding-left: 5em;
            line-height: 1.7;
        }
        

        .form-container{
            @include partial.flex($align:center);
            border: solid 2px rgba($color: white, $alpha: 0.7) ;
            padding: 2em 2em;
            border-radius: 10px;
            flex-direction: column;
            margin-bottom: 3em;
            margin-top: 2em;
    

        
            .textbox-container{
            @include partial.flex($justify:center);
            gap:30px;
     
          }

        .textbox-container div{
            @include partial.flex($align:flex-start);
            flex-direction: column;
            gap:10px;
        }

       .textbox-container input[type=text],input[type=email], input[type=tel], input[type=date],input[type=time]{
        width:200px;
        height:30px;
        border-radius: 5px;
        color:partial.$primary-color;   
       }

       .styl-lbl{
        @include partial.lbl();
       }

       .styl-chkbox{
        padding-top: 25px;
       }

       .styl-suBtn{
        @include partial.btn(10px 50px 10px 50px);
        
        margin-left: 12em;
        margin-top: 2em;
       }
        }
    }

// ------------ footer -------------
    .footer-container{
        @include partial.flex($justify:space-between);
        margin-left: 30px;
        margin-right: 30px;

        div{
            @include partial.flex($align:flex-start);
            flex-direction: column;
            padding-bottom: 50px;

            h3{
                font-size: 22px;
                color:partial.$hover;
                margin-left: 5px;

            }

            a{
                text-decoration: none;
                color:partial.$primary-color;
                padding-bottom: 20px;
                font-size: 18px;
            }

               a:hover{
                color:partial.$hover;
            }

            
            .styl-omSafeLink{
                margin-right: 50px;
            }

           

        }
    }


    // -------------Test siden--------------

    .styl-gåTilbage{
        margin-top: 50px;
        a{
            text-decoration: none;
            color: partial.$primary-color;
        }
    }
    .styl-GWPC{
        color: partial.$primary-color;
        text-align: center;
    
    }

    .gratis-wifi-sec{
        @include partial.flex($justify:center);
        gap :5em;
        border: solid 2px rgb(15,28,112,0.5);
        background-color: partial.$secondary-color;
        border-radius: 5px;
        margin-left: 10em;
        margin-right: 10em;
        margin-top: 3em;
        height:70vh;

    
            img{
                height:50vh;
                width:100%;
            }

            

        .test-options{
            @include partial.flex($align:center);
            flex-direction: column;
            
            p{
                font-size: 18px;
                padding-bottom: 10px;
                text-align: center;
                line-height: 20px;
            }

            div{
                @include partial.flex($align:center);
                flex-direction: column;
                gap:20px;
               

                button{
                    width:200px;
                    height:40px;
                    color:partial.$primary-color;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: partial.$secondary-color;
                    border-radius: 5px;
                }
            }

        }

        #Scenario-options{
            display: none;
        }

        #uden-VP-option{
            display: none;
        }
        
        #Logind-uden-tænker{
            display:none;
        }

        #brug-vpn{
            display:none;
        }

        #hotspot{
            display:block;
        }
    
        #tjek-netværk{
            display: none;
        }

        .fa-x{
            color:red;
            font-size: 20px;
           
        }

        .fa-triangle-exclamation{
            color:rgb(243, 193, 11);
            font-size: 20px;
        }

        .fa-check{
            color:green;
            font-size: 20px;
        }
  
    }

    /* tablet og  mobile  */
@media screen and (max-width:768px){

    // -------------------------index side-----------------------------------------

    // ---------navigationen-----------
    nav{ 
        
        ul{
            display:none;
        }
        
    #bars{
        display: block;
        color:partial.$primary-color;
        font-size: 25px;
        border:none;
        background-color:partial.$bg-color;
        
    }
    .show{
        display: block; 
        position: absolute;
        top: 63px;
        background-color:partial.$bg-color;
        width: 100%;
        

    }
      button#bars{
        background-color: partial.$bg-color;
        border: none;
        color:partial.$primary-color;
        
    
    }


    }

// ---------------Video--------------

.styl-video{
    height:300px;
}

.styl-heroOverskrift{
    padding: 15px 0px 15px 8px;
    font-size: 15px;
    top:12em;
    left: 3em;

    .styl-btn{
    @include partial.btn(15px 60px 15px 60px);
    }
    
}

// ----------Awareness Træning------------

.awa-sec{
    padding: 2em 5em;
        h1{
            
            font-size: 30px;  
        }

        .test-container{
            flex-wrap: wrap;
            gap:2em;
}
}

// ---------bliv klogere på digitale svindel--------

.blivKlogere-sec{
    flex-wrap: wrap;

    .text-container{
        gap:5px;

        h1{
            font-size: 22px;
            
        }
    }

    a{
        margin-bottom: 20px;
    }
}

    // -------------Gode Råd------------
.godeRåd-sec{
    flex-wrap: wrap;
    
   h1{
    margin-left: 15px;
    font-size: 30px;
   }

    p{
        font-size:20px;
        margin-left: 10px;
        
    }
}

// ------- kontakt form--------

.kontakt-sec{
    @include partial.flex($justify:center);
    flex-wrap: wrap;

    
            h1{
                font-size:25px;
                padding-left: 1em;
            }
            
            p{
                padding: 1em;
            }

            .form-container{
                @include partial.flex($justify:flex-start);
                padding: 1em 1em;

            }
            

                    
}


// ------------footer---------

.footer-container{
    @include partial.flex($justify:space-around);
    #diLink{
        display: none;
    }

    #omOs{
        display: none;
    }
}

// ---------------------------------------------test siden-----------------------------
    .gratis-wifi-sec{
        flex-wrap: wrap;
        gap:0em;
        height:140vh;
        width:auto;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 1em;
        padding: 1em 1em;


         div img{
                height:35vh;
                width:auto; 
            }

        .test-options{

            p{
                font-size: 18px;
                
    
            }

}
}


}



/* medium devices (lanscape tablet 768px and up) */
@media screen and (min-width:768px) and (max-width:1180px){

    // ---------------Video--------------

.styl-video{
    height:400px;
}

.styl-heroOverskrift{
    padding: 15px 0px 15px 8px;
    font-size: 15px;
    top:15em;
    left: 20em;

    .styl-btn{
    @include partial.btn(15px 60px 15px 60px);
    }
    
}

// ----------Awareness Træning------------

.awa-sec{
    padding: 2em 5em;

    p{
        text-align: center;
    }
        h1{
            
            font-size: 30px;  
        }

        .test-container{
            flex-shrink: 3;
            gap:2em;
}

}

// ---------bliv klogere på digitale svindel--------

.blivKlogere-sec{
    flex-shrink: 3;
    .text-container{
        gap:5px;

        h1{padding: 0px 1em; }
        p{padding: 0 2em;}
        
    }

    a{margin-bottom: 20px;}
   
}
// ----------------- Gode Råd sektion--------------------
    .godeRåd-sec{
        
        margin-top: 1em;

        img{
            height:400px;
             width:400px; 
        }
        
        h1{
            font-size: 22px;}
       

        p{font-size: 20px;}
           
    }
// --------- kontakt form sektion------------ 

.kontakt-sec{
    @include partial.flex($justify:center);
    flex-shrink: 1;
    padding-right:2em;

    
            h1{
                font-size:20px;
                padding-left: 1em;
            }
            
            p{
                font-size: 17px;
                padding: 1em;
                
            }

            .form-container{
                padding: 1em 1em;
                margin-right:1em;

            }                   
}


//--------------footer-----------------
.footer-container{
    @include partial.flex($justify:space-around);
    #omOs{
        display: none;
    }
}

// ---------------------------------------------test siden-----------------------------
    .gratis-wifi-sec{
        flex-shrink: 1;
        gap:2em;
        width:auto;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 1em;



         div img{
                height:40vh;
                width:auto; 
                padding-left: 2em;
            }

}

}












