@use "partial";

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: partial.$bg-color;

    p{
        font-size: 18px;
        color:partial.$primary-color;
        line-height: 1.2;
        
        
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

}

/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
 
.screen-reader-text {
    position: absolute; //Positions the link absolutely on the page, allowing it to be placed anywhere.
    left: -9999px; //Moves the link far off-screen to the left, making it invisible to sighted users.
    z-index: 999; //Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0; //Sets the link's opacity to 0, making it fully transparent and invisible.
  }
  
  .screen-reader-text:focus {
    left: 50%; // When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.
    transform: translateX(-50%); //This centres the link horizontally by moving it back to the left by 50% of its own width.
    opacity: 1; //The link's opacity is set to 1, making it fully visible.
  }


nav{
    @include partial.flex($justify:space-between);

    p{
        color: partial.$primary-color;
        font-size: 25px;
        margin-left: 5px;
        font-weight: 700; 
    }

    ul{
         @include partial.flex();
         gap: 20px;
         list-style-type: none;
    }

    li a{
        text-decoration: none;
        color: partial.$primary-color;
        font-size: 20px;
        font-weight: 700;
    }

    p a{
        text-decoration: none;
        color: partial.$primary-color;
    }

    p a:hover{
        color: partial.$hover;
    }

     li a:hover{
      
        border-bottom: solid 2px partial.$hover;
    }

    

    #bars{
        display: none;
    }

    .styl-hotline{
        text-decoration: none;
        margin-right:7px;
        background-color: partial.$primary-color;
        color: partial.$secondary-color;
        border: solid 2px partial.$primary-color;
        border-radius: 20px;
        padding: 10px 20px;
    }

    .styl-hotline:hover{
        background-color:partial.$hover;
        
    }

    .fa-phone{
        color: white;
        padding-right: 10px;
    }

}


.styl-heroOverskrift{
    position:absolute;
    color:partial.$primary-color;
    background-color: partial.$secondary-color;
    opacity: 70%;
    border: 2px solid partial.$secondary-color;
    border-radius: 30px;
    padding: 20px 0px 20px 10px;
    font-size: 20px;
    top:15em;
    left: 25em;
    
}

.styl-video{
    width: 100%;
    height: 600px;
    object-fit: cover;
    
}

.styl-btn{
    @include partial.btn(20px 60px 20px 60px);
    background-color: partial.$primary-color;
    color: partial.$secondary-color;
    text-decoration: none;

}

 .styl-btn:hover{
        background-color:partial.$hover;
    }

 .awa-sec{
        
        padding: 2em 15em;

        h1{
            color:partial.$primary-color;
            font-size: 35px;
            text-align: center;
        }
  
    }

    .test-container{
        @include partial.flex();
        gap:10em;
        padding-top: 2em;

        div{
            background-color: partial.$secondary-color;
            box-shadow: 0px 4px 20px 0px rgb(0,0,0,0.1);
            border-radius: 10px;
            padding: 2em 2em;
            text-align: center;
        }

        img{
            width:150px;
            height:150px;
        }


        h3{
            color:partial.$primary-color;
        }

        a{
            // background-color: partial.$primary-color;
            // border: solid 1px partial.$secondary-color;
            // border-radius: 30px;
            // text-align: center;
            // color: partial.$secondary-color;
            // padding: 8px 20px;
            // text-decoration: none;
            @include partial.btn(8px 20px 8px 20px);
        }

        a:hover{
            background-color: partial.$hover;
        }

    }

    .blivKlogere-sec{
        @include partial.flex();
        background-color: partial.$primary-color;
        margin-top: 5em;


        img{
            height: 500px;
            width:500px;
        }

        .text-container{ 
            @include partial.flex($align:flex-start);
            flex-direction: column;
            gap:15px;

        }

        h1{
            color: partial.$secondary-color;
            padding: 0px 3em;
            
        }

        p{
           color: partial.$secondary-color; 
           font-size: 20px;
           padding: 0 5em;
        }

        a{
            @include partial.btn(15px 20px 15px 20px);
            margin-left: 6em;
        }

        a:hover{
            background-color: partial.$hover;
        }

    }


    .godeRåd-sec{
        margin-left: 2em;
        margin-top: 2em;

        h1{
            color: partial.$primary-color;
        }
    }

    .hack-sec{
        @include partial.flex($justify:flex-start);
        gap: 20px;
        margin-top: 3em;

        img{
            height: 80vh;
            

            
        }
        
        .styl-hack{
            @include partial.flex($align:flex-start);
            flex-direction: column;
            background-color: partial.$primary-color;
            
        }
    }








