@charset "UTF-8";
/* Varaibles */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}
body p {
  font-size: 18px;
  color: #0F1C70;
  line-height: 1.2;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 700;
}

/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.screen-reader-text:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav p {
  color: #0F1C70;
  font-size: 25px;
  margin-left: 5px;
  font-weight: 700;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: #0F1C70;
  font-size: 20px;
  font-weight: 700;
}
nav p a {
  text-decoration: none;
  color: #0F1C70;
}
nav p a:hover {
  color: purple;
}
nav li a:hover {
  border-bottom: solid 2px purple;
}
nav #bars {
  display: none;
}
nav .styl-hotline {
  border: solid 1px #fff;
  border-radius: 30px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #0F1C70;
}
nav .styl-hotline:hover {
  background-color: purple;
  border: solid 1px #fff;
}
nav .styl-hotline {
  margin-right: 7px;
}
nav .fa-phone {
  color: white;
  padding-right: 10px;
}

.styl-heroOverskrift {
  position: absolute;
  color: #0F1C70;
  background-color: #fff;
  opacity: 70%;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 20px 0px 20px 10px;
  font-size: 20px;
  top: 15em;
  left: 25em;
}

.styl-video {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.styl-btn {
  border: solid 1px #fff;
  border-radius: 30px;
  text-align: center;
  padding: 20px 60px 20px 60px;
  text-decoration: none;
  color: #fff;
  background-color: #0F1C70;
}
.styl-btn:hover {
  background-color: purple;
  border: solid 1px #fff;
}

.awa-sec {
  padding: 2em 15em;
}
.awa-sec h1 {
  color: #0F1C70;
  font-size: 35px;
  text-align: center;
}

.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  padding-top: 2em;
}
.test-container div {
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2em 2em;
  text-align: center;
}
.test-container img {
  width: 150px;
  height: 150px;
}
.test-container h3 {
  color: #0F1C70;
}
.test-container a {
  border: solid 1px #fff;
  border-radius: 30px;
  text-align: center;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #0F1C70;
}
.test-container a:hover {
  background-color: purple;
  border: solid 1px #fff;
}

.blivKlogere-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5em;
  background-color: #0F1C70;
}
.blivKlogere-sec .styl-img {
  background-image: url(../img/Blivklogere.png);
  background-repeat: no repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.blivKlogere-sec .text-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.blivKlogere-sec h1 {
  color: #fff;
  padding: 0px 3em;
}
.blivKlogere-sec p {
  color: #fff;
  font-size: 20px;
  padding: 0 5em;
}
.blivKlogere-sec a {
  border: solid 1px #fff;
  border-radius: 30px;
  text-align: center;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #0F1C70;
}
.blivKlogere-sec a:hover {
  background-color: purple;
  border: solid 1px #fff;
}
.blivKlogere-sec a {
  margin-left: 6em;
}

.godeRåd-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.godeRåd-sec img {
  height: 400px;
  width: 400px;
}
.godeRåd-sec h1 {
  color: #0F1C70;
}
.godeRåd-sec p {
  font-size: 25px;
}

.kontakt-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0F1C70;
  margin-top: 1em;
}
.kontakt-sec h1 {
  color: #fff;
  padding-left: 3em;
}
.kontakt-sec p {
  color: #fff;
  padding-left: 5em;
  line-height: 1.7;
}
.kontakt-sec .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgba(255, 255, 255, 0.7);
  padding: 2em 2em;
  border-radius: 10px;
  flex-direction: column;
  margin-bottom: 3em;
  margin-top: 2em;
}
.kontakt-sec .form-container .textbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.kontakt-sec .form-container .textbox-container div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.kontakt-sec .form-container .textbox-container input[type=text], .kontakt-sec .form-container input[type=email], .kontakt-sec .form-container input[type=tel], .kontakt-sec .form-container input[type=date], .kontakt-sec .form-container input[type=time] {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  color: #0F1C70;
}
.kontakt-sec .form-container .styl-lbl {
  color: #fff;
  font-size: 18px;
  padding-top: 15px;
}
.kontakt-sec .form-container .styl-chkbox {
  padding-top: 25px;
}
.kontakt-sec .form-container .styl-suBtn {
  border: solid 1px #fff;
  border-radius: 30px;
  text-align: center;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  color: #fff;
  background-color: #0F1C70;
}
.kontakt-sec .form-container .styl-suBtn:hover {
  background-color: purple;
  border: solid 1px #fff;
}
.kontakt-sec .form-container .styl-suBtn {
  margin-left: 12em;
  margin-top: 2em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}
.footer-container div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 50px;
}
.footer-container div h3 {
  font-size: 22px;
  color: purple;
  margin-left: 5px;
}
.footer-container div a {
  text-decoration: none;
  color: #0F1C70;
  padding-bottom: 20px;
  font-size: 18px;
}
.footer-container div a:hover {
  color: purple;
}
.footer-container div .styl-omSafeLink {
  margin-right: 50px;
}

.styl-gåTilbage {
  margin-top: 50px;
}
.styl-gåTilbage a {
  text-decoration: none;
  color: #0F1C70;
}

.styl-GWPC {
  color: #0F1C70;
  text-align: center;
}

.gratis-wifi-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  border: solid 2px rgba(15, 28, 112, 0.5);
  background-color: #fff;
  border-radius: 5px;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 3em;
  height: 70vh;
}
.gratis-wifi-sec img {
  height: 50vh;
  width: 100%;
}
.gratis-wifi-sec .test-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gratis-wifi-sec .test-options p {
  font-size: 18px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 35px;
}
.gratis-wifi-sec .test-options div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.gratis-wifi-sec .test-options div button {
  width: 200px;
  height: 40px;
  color: #0F1C70;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 5px;
}

/* tablet og  mobile  */
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
  nav #bars {
    display: block;
    color: #0F1C70;
    font-size: 25px;
    border: none;
    background-color: #F5F5F5;
  }
  nav .show {
    display: block;
    position: absolute;
    top: 63px;
    background-color: #F5F5F5;
    width: 100%;
  }
  nav button#bars {
    background-color: #F5F5F5;
    border: none;
    color: #0F1C70;
  }
  .styl-video {
    height: 300px;
  }
  .styl-heroOverskrift {
    padding: 15px 0px 15px 8px;
    font-size: 15px;
    top: 12em;
    left: 3em;
  }
  .styl-heroOverskrift .styl-btn {
    border: solid 1px #fff;
    border-radius: 30px;
    text-align: center;
    padding: 15px 60px 15px 60px;
    text-decoration: none;
    color: #fff;
    background-color: #0F1C70;
  }
  .styl-heroOverskrift .styl-btn:hover {
    background-color: purple;
    border: solid 1px #fff;
  }
  .awa-sec {
    padding: 2em 5em;
  }
  .awa-sec h1 {
    font-size: 30px;
  }
  .awa-sec .test-container {
    flex-wrap: wrap;
    gap: 2em;
  }
  .blivKlogere-sec {
    flex-wrap: wrap;
  }
  .blivKlogere-sec .text-container {
    gap: 5px;
  }
  .blivKlogere-sec .text-container h1 {
    font-size: 22px;
  }
  .blivKlogere-sec a {
    margin-bottom: 20px;
  }
  .godeRåd-sec {
    flex-wrap: wrap;
  }
  .godeRåd-sec h1 {
    margin-left: 15px;
    font-size: 30px;
  }
  .godeRåd-sec p {
    font-size: 20px;
    margin-left: 10px;
  }
  .kontakt-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .kontakt-sec h1 {
    font-size: 25px;
    padding-left: 1em;
  }
  .kontakt-sec p {
    padding: 1em;
  }
  .kontakt-sec .form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 1em;
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-container #diLink {
    display: none;
  }
  .footer-container #omOs {
    display: none;
  }
  .gratis-wifi-sec {
    flex-wrap: wrap;
    gap: 0em;
    height: 140vh;
    width: auto;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    padding: 1em 1em;
  }
  .gratis-wifi-sec div img {
    height: 35vh;
    width: auto;
  }
  .gratis-wifi-sec .test-options p {
    font-size: 18px;
  }
}
/* medium devices (lanscape tablet 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .styl-video {
    height: 400px;
  }
  .styl-heroOverskrift {
    padding: 15px 0px 15px 8px;
    font-size: 15px;
    top: 15em;
    left: 20em;
  }
  .styl-heroOverskrift .styl-btn {
    border: solid 1px #fff;
    border-radius: 30px;
    text-align: center;
    padding: 15px 60px 15px 60px;
    text-decoration: none;
    color: #fff;
    background-color: #0F1C70;
  }
  .styl-heroOverskrift .styl-btn:hover {
    background-color: purple;
    border: solid 1px #fff;
  }
  .awa-sec {
    padding: 2em 5em;
  }
  .awa-sec p {
    text-align: center;
  }
  .awa-sec h1 {
    font-size: 30px;
  }
  .awa-sec .test-container {
    flex-shrink: 3;
    gap: 2em;
  }
  .blivKlogere-sec {
    flex-shrink: 3;
  }
  .blivKlogere-sec .text-container {
    gap: 5px;
  }
  .blivKlogere-sec .text-container h1 {
    padding: 0px 1em;
  }
  .blivKlogere-sec .text-container p {
    padding: 0 2em;
  }
  .blivKlogere-sec a {
    margin-bottom: 20px;
  }
  .godeRåd-sec {
    margin-top: 1em;
  }
  .godeRåd-sec img {
    height: 400px;
    width: 400px;
  }
  .godeRåd-sec h1 {
    font-size: 22px;
  }
  .godeRåd-sec p {
    font-size: 20px;
  }
  .kontakt-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    padding-right: 2em;
  }
  .kontakt-sec h1 {
    font-size: 20px;
    padding-left: 1em;
  }
  .kontakt-sec p {
    font-size: 17px;
    padding: 1em;
  }
  .kontakt-sec .form-container {
    padding: 1em 1em;
    margin-right: 1em;
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-container #omOs {
    display: none;
  }
  .gratis-wifi-sec {
    flex-shrink: 1;
    gap: 2em;
    width: auto;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
  }
  .gratis-wifi-sec div img {
    height: 40vh;
    width: auto;
    padding-left: 2em;
  }
}/*# sourceMappingURL=style.css.map */